body{
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
  }


  .container{
    width: 100%;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    
    padding-bottom: 2%;
    padding-top: 2%;
  }

  .achievement-container {

    
    /*max-width: 1300px;
    max-height: 975px;*/
    width: 100%;

    /*border: 1px solid black;*/
    display: flex;

    /* padding: 32px 41px 68px 41px;*/
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    
  }

  .achievement-main-section {
    display: flex;
    /*max-width: 1338px;
    max-height: 925px;*/
    width: 100%;
    flex-direction: column;
    /*border: 1px solid black;*/
    align-items: center;
    /* gap: 40px; */
    flex-shrink: 0;
  }




  .achivent-upper-box {
    /*max-width: 1100px;
    max-height: 220px;*/
    width: 80%;
    display: flex;
    flex-direction: column;
   /* border: 1px solid black;*/
    align-items: center;
    /* gap: 8px; */
    padding-bottom: 3%;
  }

  .achivent-upper-box1 {
    width: 100%;
   /* border: 1px solid black;*/
    color: var(--Ops-P, #00aeef);
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: 2,5vw; /* 128.571% */
    letter-spacing: 0.5px;
  }

  .achivent-upper-box2 {
   /* max-width: 815px;*/
    width: 75%;
    /*border: 1px solid black;*/
    color: var(--Neutrals-Neutrals900, #2b2829);
    text-align: center;

    /* Ops H2 */
    font-family: "Nunito Sans";
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
  }

  .achivent-upper-box3 {
    /*max-width: 1100px;*/
    width: 100%;
    color: var(
      --GCM-blue-Grey,
      var(--color-grey-1260, rgba(30, 30, 30, 0.6))
    );
    text-align: center;

    /* OPs Subhead2 */
    font-family: "Nunito Sans";
    font-size: 1.8vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2vw; /* 150% */
    letter-spacing: 0.5px;
  }



  .image-container {
   /* max-width: 1338px;
    max-height: 975px;*/
    padding-left: 2%;
    padding-right: 2%;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5%;
    align-self: stretch;
  }

  .image-box {
   /* max-width: 410px;
    max-height: 695px;*/
    width: 32%;
    padding: 1%;
    display: flex;
    border: 1px solid #00AEEF;
    
    border-radius: 5px;
    /*padding: 10px;*/
    flex-direction: column;
    align-items: flex-start;
    gap: 2%;
  }

  .image {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }

  .image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }

  .image-text-box {
    /*max-width: 400px;
    max-height: 335px;*/
    width: 100%;
    height: auto;
    display: flex;
    /*padding: var(--Radius-Sharp, 0px) 4px 4px 4px;*/
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5%;
  }


  .image-text-box1 {
    color: #000;
    font-family: "Nunito Sans";
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
  }

  .image-text-box2 {
    width: 100%;
    height: auto;
    color: var(--M3-black, #000);
    font-family: "Nunito Sans";
    font-size: 1.8vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2vw; /* 150% */
    letter-spacing: 0.5px;
  }

  .image-text-box3 {

    width: 100%;
    height: auto;
    color: var(--Secondary-Secondary600, #92a5b5);
    text-align: justify;
    font-family: "Nunito Sans";
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5vw; /* 133.333% */
    letter-spacing: 0.5px;
    padding-bottom: 4%;
  }




  /* text section   ************************** */


  .text-container{
    overflow-x: hidden;
    width: 95%;
    /* height: 100vh; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    align-self: stretch;
   
  }

  .text-main-section{
    width: 90%;
    /* height: 90vh; */
    /* border: 1px solid black; */
    display: flex;
   flex-direction: column;
   align-items: center;
   padding-left: 10%;
   padding-right: 3%;
   /* gap: 24px; */
   align-self: stretch; 
  }



  .text-uper-box{
    width: 85%;
    /* border: 1px solid black; */
    display: flex;
    /* height: var(--Spacing-5xl, 176px); */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3%;
  }

  .text-uper-box-text1{

    width: 80%;
    color: var(--Ops-P, #00AEEF);
    text-align: center;
    /* border: 1px solid black; */
    
    /* Ops H2 */
    font-family: "Nunito Sans";
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
  }

  .text-uper-box-text2{
    width: 100%;
    color: var(--GCM-blue-Grey, var(--color-grey-1260, rgba(30, 30, 30, 0.60)));
text-align: center;

/* OPs Subhead2 */
font-family: "Nunito Sans";
font-size: 2vw;
font-style: normal;
font-weight: 400;
line-height: 2vw; /* 150% */
letter-spacing: 0.5px;
  }


  .text-lower-box{
    width: 100%;
    display: flex;
    /* border: 1px solid black; */
flex-direction: column;
align-items: flex-start;

align-self: stretch;
  }

  .text-lower-box-1{
    width: 100%;display: flex;
    align-items: center;
    padding-bottom:3% ;
    /* gap: 60.5px; */
    align-self: stretch;


  }

  .text-lower-box-1-large{
     width: 33%;
     display: flex;
     /* height: 30px; */
/* width: 373px; */
/* padding: 10px; */
justify-content: space-between;
align-items: flex-start;
gap: 10px;
/* border: 1px solid black; */
  }

  .line{
    width: 5px;
    background-color: #00AEEF;
  }

  .text-lower-box-main{
    width: 93%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
/* gap: 18px; */
  }

  .text-lower-box-main-uper-text{
    width: 100%;
    color: #000;
font-family: "Nunito Sans";
font-size: 2vw;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.5px;
  }

  .text-lower-box-main-lower-text{
    color: var(--Secondary-Secondary600, #92A5B5);
text-align: justify;
font-family: "Nunito Sans";
font-size: 1.8vw;
font-style: normal;
font-weight: 400;
line-height: 2vw; /* 133.333% */
padding: 2%;
letter-spacing: 0.5px;
  }



  /* Extra small devices (phones, 600px and down) */

  @media only screen and (min-width: 100px) {
    .line{
      height: 50px;
    }
  }


  @media only screen and (min-width: 200px) {
    .line{
      height: 80px;
    }
  }


  @media only screen and (min-width: 300px) {
    .line{
      height: 100px;
    }
  }


  @media only screen and (min-width: 400px) {
    .line{
      height: 100px;
    }
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .line{
    height: 150px;
  }
}


@media only screen and (max-width: 600px) {


  
  .achivent-upper-box {
    /*max-width: 1100px;
    max-height: 220px;*/
    width: 100%;
    display: flex;
    flex-direction: column;
   /* border: 1px solid black;*/
    align-items: center;
    gap: 8px;
    padding-bottom: 3%;
  }

  .achivent-upper-box1 {
    width: 100%;
   /* border: 1px solid black;*/
    color: var(--Ops-P, #00aeef);
    /* text-align: center; */
    font-family: "Nunito Sans";
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 128.571% */
    letter-spacing: 0.5px;
  }

  .achivent-upper-box2 {
   /* max-width: 815px;*/
    width: 75%;
    /*border: 1px solid black;*/
    color: var(--Neutrals-Neutrals900, #2b2829);
    /* text-align: center; */

    /* Ops H2 */
    font-family: "Nunito Sans";
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
  }

  .achivent-upper-box3 {
    /*max-width: 1100px;*/
    width: 100%;
    color: var(
      --GCM-blue-Grey,
      var(--color-grey-1260, rgba(30, 30, 30, 0.6))
    );
    /* text-align: center; */

    /* OPs Subhead2 */
    font-family: "Nunito Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* 150% */
    letter-spacing: 0.5px;
  }

  
  .image-container {
   /* max-width: 1338px;
    max-height: 975px;*/
    
    width: 100%;
    padding: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    align-items: flex-start; */
    gap: 20px;
    align-self: stretch;
  }

  .image-box {
   /* max-width: 410px;
    max-height: 695px;*/
    height: 660px;
    width: 80%;
    padding: 10px;
    display: flex;
    border: 1px solid #00AEEF;
    
    border-radius: 5px;
    /*padding: 10px;*/
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 10px;
  }

  .image {

    width: 300px;
    height: 300px;
    /* border: 1px solid black; */
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }

  .image img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .image-text-box {
    /*max-width: 400px;
    max-height: 335px;*/
    width: 100%;
    height: auto;
    display: flex;
    /*padding: var(--Radius-Sharp, 0px) 4px 4px 4px;*/
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }


  .image-text-box1 {
    color: #000;
    font-family: "Nunito Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
  }

  .image-text-box2 {
    width: 100%;
    color: var(--M3-black, #000);
    font-family: "Nunito Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 150% */
    letter-spacing: 0.5px;
  }

  .image-text-box3 {

    width: 100%;
    color: var(--Secondary-Secondary600, #92a5b5);
    text-align: justify;
    font-family: "Nunito Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: 0.5px;
    padding-bottom: 4%;
  }


}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .line{
    height: 180px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .line{
    height: 200px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .line{
    height: 250px;
  }
}